<!DOCTYPE html>
html
  head
    link(rel="stylesheet" href="css/common.css")
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
  body
    section#AppRoot
    script(crossorigin src="https://cdn.jsdelivr.net/npm/react@16.13.1/umd/react.development.js" type="application/javascript")
    script(crossorigin src="https://cdn.jsdelivr.net/npm/react-dom@16.13.1/umd/react-dom.development.js" type="application/ecmascript")
    //- script(crossorigin src="https://cdn.jsdelivr.net/npm/styled-components@4.1.4-alpha.5/dist/styled-components.min.js")
    script(crossorigin src="https://cdn.jsdelivr.net/npm/@emotion/core@10.0.28/dist/core.umd.min.js")
    script(crossorigin src="https://cdn.jsdelivr.net/npm/@emotion/styled@10.0.27/dist/styled.umd.min.js")
    script(crossorigin type="module" src="https://cdn.jsdelivr.net/npm/dexie@3.0.1/dist/dexie.mjs")
    script(type="module" src="js/react-app.js")